
{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webknowledge - Professores</title>
    <link rel="stylesheet" href="{% static 'homealuno.css' %}">

</head>
<body>
    <header>
        <h1>Webknowledge <img src={% static 'icone2.png' %} alt="logo" width="30"></h1>
        <nav>
            <a href="#">Home</a>
            <a href="#">Minha Conta</a>
            <a href="/logout/" {% csrf_token %} Sair</a>
        </nav>
    </header>
    <main>
        <h2>Bem-vindo, Aluno!</h2>
        <p>Escolha um dos templates de professores para começar o seu aprendizado:</p>
        
        <div class="templates">
            <div class="template">
             {% for professor in professores %}

            {professor.imagem}









             {% endfor %}
            </div>
        </div>
    </main>



  



</body>




</html>
