{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="{% static 'cadastro.css' %}">
</head>
<body>
    <div class="background-pattern"></div>
    
    <div class="login-container">
        <div class="content-container">
            Cadastro de Usuário
        </div>
        
        <div class="login-box">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if usuario.tipo_conta == "professor" %}
                  
                    {{ form.as_p }}
                    {{formprof.as_p}}
                                
                {% else %}
                    
                    {{ form.as_p }}
                            
                            
                    
                    
                {% endif %}
                

                <button type="submit">Salvar</button>
            </form>
        </div>
    </div>
    
    
</body>
</html>
